@font-face {
  font-family: "lptech-font";
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/lptech-font.eot");
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/lptech-font.eot?#iefix") format("embedded-opentype"), url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/lptech-font.woff") format("woff"), url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/lptech-font.ttf") format("truetype"), url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/lptech-font.svg#lptech-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/Montserrat-Black.ttf");
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/Montserrat-BoldItalic.ttf");
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/Montserrat-SemiBold.ttf");
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/Montserrat-SemiBoldItalic.ttf");
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/Montserrat-MediumItalic.ttf");
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/Montserrat-Medium.ttf");
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/Montserrat-Italic.ttf");
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 400;
}
@font-face {
  font-family: "EB Garamond", serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/EBGaramond-Bold.ttf");
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 700;
}
@font-face {
  font-family: "EB Garamond", serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/EBGaramond-BoldItalic.ttf");
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 700;
}
@font-face {
  font-family: "EB Garamond", serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/EBGaramond-SemiBold.ttf");
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 600;
}
@font-face {
  font-family: "EB Garamond", serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/EBGaramond-SemiBoldItalic.ttf");
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 600;
}
@font-face {
  font-family: "EB Garamond", serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/EBGaramond-MediumItalic.ttf");
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 500;
}
@font-face {
  font-family: "EB Garamond", serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/EBGaramond-Medium.ttf");
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 500;
}
@font-face {
  font-family: "EB Garamond", serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/EBGaramond-Italic.ttf");
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 400;
}
@font-face {
  font-family: "EB Garamond", serif;
  src: url("http://localhost/EmeraldSea_TemplateNew/assets/vendor/fonts/EBGaramond-Regular.ttf");
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 400;
}
*::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

a {
  color: initial;
  text-decoration: none;
}
a:hover {
  color: var(--gray);
}

button:focus, button:focus-visible,
input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible,
select:focus,
select:focus-visible {
  box-shadow: none !important;
  outline: unset;
}
button:-webkit-autofill,
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.reset-for-article img,
.reset-for-article iframe,
.reset-for-article video {
  max-width: 100% !important;
  margin-bottom: 10px;
}
.reset-for-article img {
  display: block;
  margin: auto;
}
.reset-for-article table {
  margin-bottom: 16px;
  width: 100% !important;
  border-collapse: collapse;
  border: 1px solid #000;
}
.reset-for-article table td {
  border: 1px solid #000;
  padding: 4px 8px;
}
.reset-for-article ul,
.reset-for-article ol {
  padding-left: 24px;
}
.reset-for-article ul li,
.reset-for-article ol li {
  list-style-type: disc;
}
.reset-for-article a {
  color: var(--bs-link-color);
  text-decoration: underline;
}

.sidebar-right {
  height: fit-content;
  right: 0;
}
@media (min-width: 1200px) {
  .sidebar-right {
    right: calc((100% - 1140px) / 2);
  }
}
@media (min-width: 1440px) {
  .sidebar-right {
    right: calc((100% - 1320px) / 2);
  }
}

.footer {
  background-color: #F5F4F2;
  border: 1px solid #BFBFBF;
}
.footer_content {
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
}
.footer_content-detail {
  gap: 24px;
}
.footer_content-detail .footer-info .contact {
  gap: 24px;
}
@media (max-width: 575px) {
  .footer_content-detail .footer-info .contact {
    margin-bottom: 20px;
  }
}
.footer_content-detail .footer-info .contact h6 {
  color: #141414;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
  position: relative;
}
.footer_content-detail .footer-info .contact h6:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 63px;
  height: 2px;
  background-color: #141414;
}
.footer_content-detail .footer-info .contact span {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #262626;
}
@media (max-width: 767px) {
  .footer_content-detail .footer-info .contact span {
    text-align: center;
  }
}
.footer_content-detail .footer-info .support {
  gap: 24px;
}
@media (max-width: 575px) {
  .footer_content-detail .footer-info .support {
    margin-bottom: 20px;
  }
}
.footer_content-detail .footer-info .support h6 {
  color: #141414;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
  position: relative;
}
.footer_content-detail .footer-info .support h6:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 60px;
  height: 2px;
  background-color: #141414;
}
.footer_content-detail .footer-info .support a {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #262626;
}
.footer_content-detail .footer-info .support a:hover {
  text-decoration: underline !important;
}
@media (max-width: 767px) {
  .footer_content-detail .footer-info .support a {
    text-align: center;
  }
}
.footer_content-detail .footer-info .about-us {
  gap: 24px;
}
@media (max-width: 575px) {
  .footer_content-detail .footer-info .about-us {
    margin-bottom: 20px;
  }
}
.footer_content-detail .footer-info .about-us h6 {
  color: #141414;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
  position: relative;
}
.footer_content-detail .footer-info .about-us h6:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 109px;
  height: 2px;
  background-color: #141414;
}
.footer_content-detail .footer-info .about-us a {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #262626;
}
.footer_content-detail .footer-info .about-us a:hover {
  text-decoration: underline !important;
}
@media (max-width: 767px) {
  .footer_content-detail .footer-info .about-us a {
    text-align: center;
  }
}
.footer_content-detail .footer-info .connect {
  gap: 24px;
}
@media (max-width: 575px) {
  .footer_content-detail .footer-info .connect {
    margin-bottom: 20px;
  }
}
.footer_content-detail .footer-info .connect h6 {
  color: #141414;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
  position: relative;
}
.footer_content-detail .footer-info .connect h6:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 151px;
  height: 2px;
  background-color: #141414;
}
.footer_content-detail .footer-info .connect_social {
  gap: 8px;
}
.footer_content .copy-right {
  border-top: 1px solid #BFBFBF;
  color: #141414;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

header {
  background-color: #F5F4F2;
}
header .header {
  width: 90%;
}
@media (max-width: 1199px) {
  header .header {
    width: 100%;
  }
}
@media (max-width: 991px) {
  header .header {
    width: 100%;
    padding: 12px;
  }
}
header .header .nav-response {
  background-color: #F5F4F2;
}
header .header .nav-response h5 {
  font-weight: 600;
  font-family: "EB Garamond", serif !important;
  font-size: 20px !important;
  line-height: 30px !important;
  color: #141414;
}
header .header .nav-response .btn-close {
  color: #141414;
  opacity: 1;
  border: none;
  outline: 0;
  box-shadow: none;
}
header .header .nav-response .nav-item_search a {
  color: #141414;
}
header .header .nav-response .nav-item_search .dropdown-menu .form-control {
  background-color: transparent;
}
header .header .nav-response .nav-item_search .dropdown-menu .form-control:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: 1px solid #141414;
}
header .header .nav-response .nav-link {
  font-weight: 600;
  font-family: "EB Garamond", serif !important;
  font-size: 20px !important;
  line-height: 30px !important;
  color: #141414;
  margin: 0;
}
header .header .nav-response .nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
}
header .header .nav-response .dropdown-menu {
  background-color: #F5F4F2;
}
header .header .nav-response .dropdown-menu a {
  font-weight: 600;
  font-family: "EB Garamond", serif !important;
  font-size: 20px !important;
  line-height: 30px !important;
  color: #141414;
  transition: all 0.35s ease-in-out;
}
header .header .nav-response .dropdown-menu a:hover {
  background-color: transparent;
}
header .header .nav-response .options {
  font-size: 20px;
}
header .header .nav-response .options i {
  cursor: pointer;
}
header .header .nav {
  padding: 28px 0;
}
header .header .nav__menu {
  margin: 0;
  padding-right: 24px;
  border-right: 1px solid #000;
}
header .header .nav__menu--item__link {
  font-weight: 600;
  font-family: "EB Garamond", serif !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #141414;
}
header .header .nav__menu--item__link:hover {
  cursor: pointer;
}
header .header .nav__menu--item .dropdown-menu {
  background-color: #F5F4F2;
}
header .header .nav__menu--item .dropdown-menu .dropdown-item {
  font-weight: 600;
  font-family: "EB Garamond", serif !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #141414;
  transition: all 0.35s ease-in-out;
}
header .header .nav__menu--item .dropdown-menu .dropdown-item:hover {
  text-decoration: underline;
  background-color: #F5F4F2;
}
header .header .nav .options {
  gap: 24px;
  padding-left: 24px;
}
header .header .nav .options .nav-item_search a {
  margin: 0;
  color: #141414;
}
header .header .nav .options .nav-item_search .form-control {
  width: 160px;
}
header .header .nav .options .nav-item_search .form-control:focus {
  background-color: transparent;
  border: 1px solid #141414;
  box-shadow: none;
}
header .header .nav .options .nav-item_search .btn {
  background-color: #141414;
  color: #F5F4F2;
  padding: 0 8px;
}
header .header .nav .options .nav-item_search .btn:hover {
  background-color: #F5F4F2;
  color: #141414;
}
header .header .nav .options i {
  cursor: pointer;
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.hero {
  background-image: url("http://localhost/EmeraldSea_TemplateNew/assets/imgs/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 96px;
}
.hero .content {
  width: 90%;
}
.hero .content__title {
  gap: 24px;
  margin: 49px 20px 49px 0;
}
@media (max-width: 991px) {
  .hero .content__title {
    margin: 49px 0;
  }
}
.hero .content__title--head {
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  color: #262626;
  font-family: "EB Garamond", serif !important;
  text-align: left;
}
@media (max-width: 991px) {
  .hero .content__title--head {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .hero .content__title--head {
    font-size: 30px;
    text-align: center;
  }
}
.hero .content__title--description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #595959;
  text-align: left;
}
@media (max-width: 991px) {
  .hero .content__title--description {
    text-align: center;
  }
}
.hero .content__banner {
  aspect-ratio: 520/780;
  padding-top: 24px;
}
@media (max-width: 991px) {
  .hero .content__banner img {
    width: 100%;
    padding: 0 12px;
  }
}
.hero .content__introduce {
  margin: 160px 0 0 40px;
}
@media (max-width: 1199px) {
  .hero .content__introduce {
    margin: 50px 0 0 40px;
  }
}
@media (max-width: 991px) {
  .hero .content__introduce {
    margin: 20px 0;
  }
}
@media (max-width: 375px) {
  .hero .content__introduce {
    margin: 0;
  }
}
.hero .content__introduce--title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #262626;
  font-family: "EB Garamond", serif !important;
}
.hero .content__introduce--description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #595959;
}
@media (max-width: 991px) {
  .hero .content__introduce--description {
    text-align: center;
  }
}
.hero .content__introduce--btn-order {
  padding: 12px 24px;
  gap: 8px;
  background-color: #262626;
  color: #FFFFFF;
  transition: all 0.35s ease-in-out;
}
.hero .content__introduce--btn-order:hover {
  background-color: #FFFFFF;
  color: #262626;
}
.hero .content__introduce--btn-order i {
  width: 20px;
  height: 20px;
}
.hero .content__introduce--btn-order span {
  font-size: 14px;
  line-height: 120%;
  font-weight: 600;
  font-family: "EB Garamond", serif !important;
}

.category {
  background-image: url("http://localhost/EmeraldSea_TemplateNew/assets/imgs/bg-category.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 128px 0;
}
@media (max-width: 375px) {
  .category {
    padding: 40px 0;
  }
}
.category__content {
  gap: 48px;
}
.category__content--title h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
}
@media (max-width: 575px) {
  .category__content--title h2 {
    text-align: center;
  }
}
@media (max-width: 375px) {
  .category__content--title h2 {
    text-align: center;
    font-size: 30px;
    line-height: 150%;
  }
}
.category__content--detail {
  gap: 24px;
}
.category__content--detail__item {
  gap: 24px;
}
.category__content--detail__item--img {
  cursor: pointer;
  transition: transform 0.15s ease-in-out 0.15s;
}
.category__content--detail__item--img:hover {
  transform: scale(1.15);
}
.category__content--detail__item--name {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #141414;
}
.category__content--detail__item--name:hover {
  font-weight: 600;
}
.category a {
  cursor: pointer;
}

.collection {
  background-color: #F5F4F2;
  padding: 128px 0;
}
@media (max-width: 375px) {
  .collection {
    padding: 40px 0;
  }
}
.collection__title h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
  padding: 0 12px;
}
@media (max-width: 375px) {
  .collection__title h3 {
    font-size: 30px;
  }
}
.collection__top {
  margin: 48px 0;
}
@media (max-width: 1365px) {
  .collection__top__img--banner {
    width: 100%;
  }
}
.collection__top__item {
  gap: 12px;
}
@media (max-width: 991px) {
  .collection__top__item {
    margin: 24px 0;
  }
}
.collection__top__item__img {
  overflow: hidden;
}
.collection__top__item__img:hover {
  cursor: pointer;
  border: 1px solid #BFBFBF;
}
.collection__top__item__img img {
  transition: transform 0.1s ease-in-out 0.1s;
}
.collection__top__item__img img:hover {
  transform: scale(1.25);
}
.collection__top__item--sale {
  padding: 8px;
  top: 8px;
  right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FCFCFC;
  background-color: #262626;
}
.collection__top__item--name {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #141414;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.collection__top__item--name:hover {
  font-weight: 600;
}
.collection__top__item--price-sale {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #595959;
}
.collection__top__item--price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #141414;
}
@media (max-width: 991px) {
  .collection__top-detail {
    margin: 0;
  }
}
.collection__list {
  padding: 0 12px;
}
.collection__list__detail {
  gap: 12px;
  margin-bottom: 48px;
}
.collection__list__detail__img {
  overflow: hidden;
  border: 1px solid #BFBFBF;
}
.collection__list__detail__img:hover {
  cursor: pointer;
}
.collection__list__detail__img img {
  transition: transform 0.1s ease-in-out 0.1s;
}
.collection__list__detail__img img:hover {
  transform: scale(1.25);
}
.collection__list__detail--name {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #141414;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.collection__list__detail--name:hover {
  font-weight: 600;
}
.collection__list__detail--price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #141414;
}
.collection__btn-more__btn {
  gap: 8px;
  padding: 12px 24px 10px 24px;
  border: 1px solid #141414;
  border-radius: 0;
  color: #141414;
}
.collection__btn-more__btn:hover {
  cursor: pointer;
  color: #F5F4F2;
  background-color: #000;
}
.collection__btn-more__btn--see-more {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
}
.collection a {
  cursor: pointer;
}

.bg-best-seller {
  background-color: #F5F4F2;
  padding-bottom: 128px;
}
@media (max-width: 375px) {
  .bg-best-seller {
    padding-bottom: 40px;
  }
}
.bg-best-seller a {
  cursor: pointer;
}
.bg-best-seller .best__seller__title {
  border-bottom: 1px solid #BFBFBF;
}
.bg-best-seller .best__seller__title h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
}
@media (max-width: 375px) {
  .bg-best-seller .best__seller__title h3 {
    font-size: 30px;
  }
}
.bg-best-seller .best__seller__title button .btn span {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
}
.bg-best-seller .best__seller__title button .btn:hover {
  border: 1px solid #141414;
}
.bg-best-seller .best__seller__content {
  gap: 48px;
  margin-top: 48px;
}
.bg-best-seller .best__seller__content__hot-deal__item {
  gap: 48px;
}
.bg-best-seller .best__seller__content__hot-deal__item--sale {
  padding: 8px;
  top: 8px;
  right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FCFCFC;
  background-color: #262626;
}
.bg-best-seller .best__seller__content__hot-deal__item--name {
  margin-top: 10px;
  color: #141414;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.bg-best-seller .best__seller__content__hot-deal__item--name:hover {
  font-weight: 600;
}
.bg-best-seller .best__seller__content__hot-deal__item--price-sale {
  color: #141414;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.bg-best-seller .best__seller__content__hot-deal__item--price {
  color: #141414;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}
.bg-best-seller .best__seller__content__hot-deal__item__img {
  overflow: hidden;
  aspect-ratio: 282/406;
  border: 1px solid #BFBFBF;
}
.bg-best-seller .best__seller__content__hot-deal__item__img img {
  transition: transform 0.1s ease-in-out 0.1s;
}
.bg-best-seller .best__seller__content__hot-deal__item__img img:hover {
  transform: scale(1.25);
}
@media (max-width: 767px) {
  .bg-best-seller .best__seller__content__hot-deal__item__img img {
    height: auto;
  }
}
@media (max-width: 575px) {
  .bg-best-seller .best__seller__content__hot-deal__banner {
    display: none;
  }
}
@media (max-width: 767px) {
  .bg-best-seller .best__seller__content__hot-deal__banner {
    height: auto;
  }
}
@media (max-width: 1199px) {
  .bg-best-seller .best__seller__content__hot-deal__banner {
    aspect-ratio: 588/1033;
  }
}
.bg-best-seller .best__seller__content__hot-deal__banner--img {
  aspect-ratio: 588/1033;
  height: 100%;
}
.bg-best-seller .best__seller__content__product {
  margin-top: 48px;
}
.bg-best-seller .best__seller__content__product__img {
  overflow: hidden;
  aspect-ratio: 282/406;
  border: 1px solid #BFBFBF;
}
.bg-best-seller .best__seller__content__product__img:hover {
  cursor: pointer;
}
@media (max-width: 1199px) {
  .bg-best-seller .best__seller__content__product__img {
    width: auto !important;
  }
}
.bg-best-seller .best__seller__content__product__img img {
  transition: transform 0.1s ease-in-out 0.1s;
}
.bg-best-seller .best__seller__content__product__img img:hover {
  transform: scale(1.25);
}
@media (max-width: 767px) {
  .bg-best-seller .best__seller__content__product__img img {
    height: auto;
  }
}
.bg-best-seller .best__seller__content__product--name {
  margin-top: 10px;
  color: #141414;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.bg-best-seller .best__seller__content__product--name:hover {
  font-weight: 600;
}
.bg-best-seller .best__seller__content__product--price {
  color: #141414;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.featured {
  background-color: #F5F4F2;
  padding-bottom: 128px;
}
@media (max-width: 375px) {
  .featured {
    padding-bottom: 40px;
  }
}
.featured .featured__content {
  gap: 48px;
}
.featured .featured__content__title--head {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
}
@media (max-width: 375px) {
  .featured .featured__content__title--head {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .featured .featured__content__title--btn .btn {
    align-items: center;
  }
}
.featured .featured__content__title--btn .btn span {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
}
.featured .featured__content__title--btn .btn:hover {
  border: 1px solid #141414;
}
.featured .featured__content__product__detail {
  gap: 24px;
}
.featured .featured__content__product__detail__img {
  overflow: hidden;
  border: 1px solid #BFBFBF;
  width: 100%;
  aspect-ratio: 282/412;
  object-fit: cover;
}
.featured .featured__content__product__detail__img:hover {
  cursor: pointer;
}
.featured .featured__content__product__detail__img img {
  transition: transform 0.1s ease-in-out 0.1s;
}
.featured .featured__content__product__detail__img img:hover {
  transform: scale(1.25);
}
@media (max-width: 991px) {
  .featured .featured__content__product__detail__img {
    width: auto;
  }
}
.featured .featured__content__product__detail--name {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #141414;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.featured .featured__content__product__detail--name:hover {
  font-weight: 600;
}
.featured .featured__content__product__detail--price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #141414;
}
.featured .featured__content a {
  cursor: pointer;
}

.bg-whyChoose {
  background-image: url("http://localhost/EmeraldSea_TemplateNew/assets/imgs/bg-whyChoose.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
.bg-whyChoose .whyChoose {
  gap: 48px;
  padding: 80px 0 30px 0;
}
.bg-whyChoose .whyChoose__title h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
  color: #141414;
}
@media (max-width: 375px) {
  .bg-whyChoose .whyChoose__title h3 {
    font-size: 30px;
  }
}
.bg-whyChoose .whyChoose__content {
  gap: 24px;
}
.bg-whyChoose .whyChoose__content__box-first {
  gap: 24px;
  width: 80%;
}
.bg-whyChoose .whyChoose__content__box-first__detail {
  max-width: 308px;
  background-color: #FCFCFC;
  padding: 36px 48px;
  gap: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.bg-whyChoose .whyChoose__content__box-first__detail--icon {
  padding: 16px;
  background-color: #262626;
  border-radius: 100px;
  color: white;
}
.bg-whyChoose .whyChoose__content__box-first__detail--icon i {
  font-size: 48px;
}
.bg-whyChoose .whyChoose__content__box-first__detail span {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
}
.bg-whyChoose .whyChoose__content__box-first__detail p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.bg-blog {
  background-color: #F5F4F2;
}
.bg-blog .blog {
  padding: 128px 12px;
}
@media (max-width: 375px) {
  .bg-blog .blog {
    padding: 40px 12px;
  }
}
.bg-blog .blog__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  font-family: "EB Garamond", serif !important;
  color: #141414;
}
@media (max-width: 375px) {
  .bg-blog .blog__title {
    font-size: 30px;
  }
}
.bg-blog .blog__content__list {
  gap: 24px;
  display: grid;
  grid-template-areas: "myArea ." "myArea ." "myArea ." "myArea .";
}
@media (max-width: 1199px) {
  .bg-blog .blog__content__list {
    display: block;
  }
}
.bg-blog .blog__content__list__item {
  gap: 24px;
}
@media (max-width: 1199px) {
  .bg-blog .blog__content__list__item {
    margin-bottom: 24px;
  }
}
.bg-blog .blog__content__list__item__img {
  aspect-ratio: 146/162;
  transition: transform 0.15s ease-in-out 0.15s;
  flex-shrink: 0;
}
.bg-blog .blog__content__list__item__img:hover {
  transform: scale(1.05);
}
@media (max-width: 575px) {
  .bg-blog .blog__content__list__item__img {
    height: auto;
  }
}
.bg-blog .blog__content__list__item__body {
  gap: 12px;
}
@media (max-width: 1199px) {
  .bg-blog .blog__content__list__item__body {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
.bg-blog .blog__content__list__item__body--category {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  padding: 8px;
  color: #141414;
}
.bg-blog .blog__content__list__item__body--category:hover {
  font-weight: 600;
  cursor: pointer;
}
.bg-blog .blog__content__list__item__body--name {
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  font-family: "EB Garamond", serif !important;
  color: #141414;
}
.bg-blog .blog__content__list__item__body--name:hover {
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 375px) {
  .bg-blog .blog__content__list__item__body--name {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}
.bg-blog .blog__content__list__item__body--description {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.bg-blog .blog__content__list .index-1 {
  grid-area: myArea;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1199px) {
  .bg-blog .blog__content__list .index-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
  }
}
.bg-blog .blog__content__list .index-1__value {
  aspect-ratio: 588/559;
  width: 100%;
  transition: transform 0.15s ease-in-out 0.15s;
}
.bg-blog .blog__content__list .index-1__value:hover {
  transform: scale(1.05);
}
@media (max-width: 1199px) {
  .bg-blog .blog__content__list .index-1__value {
    aspect-ratio: 146/162;
    max-width: 153px;
  }
}
.bg-blog .blog a {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
