.bg-blog {
    background-color: #F5F4F2;

    .blog {
        gap: 48px;
        padding: 128px 12px;
        @include max-width-375{
            padding: 40px 12px;

        }
        &_title{
            font-weight: 400;
            font-size: 48px; 
            line-height: 120%;
            font-family: $font-EB !important;
            color: $color-black-12;
            @include max-width-375{
                font-size: 30px;
            }
        }
        &_content{
            gap: 24px;
            .blog_hot{
                gap: 24px;
                &-body{
                    gap: 12px;
                    .blog-category{
                        font-size: 14px;
                        line-height: 150%;
                        font-weight: 400;
                        padding: 8px;
                    }
                    .name {
                        font-size: 24px;
                        line-height: 120%;
                        font-weight: 400;
                        font-family: $font-EB !important;
                    }
                    .description {
                        font-size: 16px;
                        line-height: 150%;
                        font-weight: 400;
                        @include webkit-box(3);
                    }
                }
            }
            .blog_list{
                gap: 24px;
                &-item{
                    gap: 24px;
                    .blog_list-img{
                        aspect-ratio: 146/160;
                        // width: 146px;
                        // height: 160px;
                    }
                }
                &-body{
                    gap: 12px;
                    .blog-category{
                        font-size: 14px;
                        line-height: 150%;
                        font-weight: 400;
                        padding: 8px;
                    }
                    .name {
                        font-size: 24px;
                        line-height: 120%;
                        font-weight: 400;
                        font-family: $font-EB !important;
                    }
                    .description {
                        font-size: 16px;
                        line-height: 150%;
                        font-weight: 400;
                        @include webkit-box(2);

                    }

                }
            }
        }
    }
}