.category{
    background-image: url("../images/bg-category.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // aspect-ratio: 1440/584;
    padding: 128px 0;
    @include max-width-375{
        padding: 40px 0;
    }
    .content{
        gap: 48px;
        &_title{
            h2 {
                font-weight: 400;
                font-size: 40px;
                line-height: 120%;
                font-family: $font-EB !important;

                @include max-width-576 {
                    text-align: center;
                }
                @include max-width-375{
                    text-align: center;
                    font-size: 30px;
                    line-height: 150%;
                }
            }
        }
        &_category{
            gap: 24px;

            &-detail{
                gap : 24px;
                img {
                    cursor: pointer;
                    transition:  transform 0.15s ease-in-out 0.15s;
                        &:hover{
                            transform: scale(1.15);
                        }
                }
                .category_name{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;
                    color: $color-black-12;
                    &:hover{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    a {
        cursor: pointer;
    }
}