header {
    background-color: #F5F4F2;

    .header {
        width: 90%;

        @include max-width-1200 {
            width: 100%;
        }
        @include max-width-992 {
            width: 100%;
            padding: 12px;

        }
        .nav-response{
            background-color: #F5F4F2;
            h5 {
                font-weight: 600;
                font-family: $font-EB !important;
                font-size: 20px !important;
                line-height: 30px !important;
                color: $color-black-12;
            }
            .btn-close{
                color: $color-black-12;
                opacity: 1;
                border: none;
                outline: 0;
                box-shadow: none;
            }
            .nav-link {
                font-weight: 600;
                font-family: $font-EB !important;
                font-size: 20px !important;
                line-height: 30px !important;
                color: $color-black-12;
                margin: 0;
                &:hover{
                    text-decoration:underline;
                    background-color: transparent;
                }
            }
            .dropdown-menu{
                background-color: #F5F4F2;
                a {
                    font-weight: 600;
                    font-family: $font-EB !important;
                    font-size: 20px !important;
                    line-height: 30px !important;
                    color: $color-black-12;
                    &:hover{
                        text-decoration:underline;
                        background-color: transparent;
                    }
                }
            }
            .options {
                font-size: 20px;
            }
        }
        .nav {
            padding: 28px 0;
            .menu {
                margin: 0;
                padding-right: 24px;
                border-right: 1px solid #000;

                li {
                    a {
                        font-weight: 600;
                        font-family: $font-EB !important;
                        font-size: 14px !important;
                        line-height: 20px !important;
                        color: $color-black-12;
                    }
                    .dropdown-menu{
                        background-color: #F5F4F2;
                        .dropdown-item{
                            a {
                                font-weight: 600;
                                font-family: $font-EB !important;
                                font-size: 14px !important;
                                line-height: 20px !important;
                                color: $color-black-12;
                            }
                        }
                    }
                }
                
            }

            .options {
                gap: 24px;
                padding-left: 24px;

               i {
                    width: 20px;
                    height: 20px;
                }
            }
        }

    }

}