.hero {
    background-image: url("../images/bg-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 96px;

    .content {
        width: 90%;

        .title {
            gap: 24px;
            margin: 49px 20px 49px 0;
            @include max-width-992 {
                margin: 49px 0;
            }
            &_head {
                font-weight: 400;
                font-size: 60px;
                line-height: 120%;
                color: $color-black-10;
                font-family: "EB Garamond", serif !important;
                text-align: left;
                @include max-width-992 {
                    text-align: center;
                }
                
                @include max-width-576 {
                    font-size: 30px;
                    text-align: center;
                }

            }

            &_description {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $color-black-8;
                text-align: left;

                @include max-width-992 {
                    text-align: center;
                }
            }
        }

        .banner {
            aspect-ratio: 520/780;
            padding-top: 24px;

            img {
                @include max-width-992 {
                    width: 100%;
                    padding: 0 12px;
                }
            }
        }

        .introduce {
            margin: 160px 0 0 88px;
            gap: 24px;
            @include max-width-1200{
                margin: 50px 0 0 40px;
            }
            @include max-width-992 {
                margin: 20px 0;
            }
            @include max-width-375 {
                margin: 0;
            }
           
            &_title {
                margin: 0;
                font-weight: 400;
                font-size: 20px;
                line-height: 120%;
                color: $color-black-10;

            }

            &_description {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $color-black-8;
                @include max-width-992 {
                    text-align: center;
                }
            }

            .btn-order {
                padding: 12px 24px;
                gap: 8px;
                background-color: $color-black-10;
                color: #FFFFFF;

                transition: all .35s ease-in-out;
                &:hover {
                    background-color: #FFFFFF;
                    color: $color-black-10;
                }

                i {
                    width: 20px;
                    height: 20px;
                }

                span {
                    font-size: 14px;
                    line-height: 120%;
                    font-weight: 600;
                    font-family: "EB Garamond", serif !important;
                }
            }
        }
    }
}