* {
    padding: 0 ;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    // font-family: "EB Garamond", serif ; 

}

@import '../abstracts/mixins';
@import '../abstracts/_variables';
@import 'header.scss';
@import 'hero.scss';
@import 'category.scss';
@import 'collection.scss';
@import 'bestSeller.scss';
@import 'featured.scss';
@import 'whyChoose.scss';
@import 'blog.scss';
@import 'footer.scss';
