.bg-whyChoose{
    background-image: url('../images/bg-whyChoose.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    .whyChoose{
        gap: 48px;
        padding: 80px 0 30px 0;
        &_title {
            h3 {
                font-weight: 400;
                font-size: 48px; 
                line-height: 120%;
                font-family: $font-EB !important;
                color: $color-black-12;
                @include max-width-375{
                    font-size: 30px;
                }
            }
        }
        &_content {
            gap: 24px;
            .box_first {
                gap: 24px;
                &-detail{
                    width: 282px;
                    height: 300px;
                    background-color: #FCFCFC;
                    padding: 36px 48px;
                    gap: 24px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    .icon {
                        padding: 16px;
                        background-color: $color-black-10;
                        border-radius: 100px;
                        color: white;
                        i {
                            font-size: 48px;
                        }
                    }
                    span {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 120%;
                        font-family: $font-EB !important;
                    }
                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                    }
                }
            }
            .box_second {
                gap: 24px;
                &-detail{
                    width: 282px;
                    height: 300px;
                    background-color: #FCFCFC;
                    padding: 36px 48px;
                    gap: 24px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    .icon {
                        padding: 16px;
                        background-color: $color-black-10;
                        border-radius: 100px;
                        color: white;
                        i {
                            font-size: 48px;
                        }
                    }
                    span {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 120%;
                        font-family: $font-EB !important;
                    }
                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}